<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590724374004-0pmqmpvucvf3um98rr0p2rrpmhsfq4fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590724374004-0pmqmpvucvf3um98rr0p2rrpmhsfq4fk</string>
	<key>API_KEY</key>
	<string>AIzaSyBX_lC_G1sdT4h1kvaZR7IYSkF7qK9e32w</string>
	<key>GCM_SENDER_ID</key>
	<string>590724374004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.TestGoogle</string>
	<key>PROJECT_ID</key>
	<string>test-b567a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-b567a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590724374004:ios:67844e6ee72d3e389c2da1</string>
</dict>
</plist>